div.intro-text {
    color: #FFFFFF;
}
span.intro-text-zup {
    position: absolute;
    width: 281px;
    height: 156px;
    left: 60px;
    top: 174px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 128px;
    line-height: 156px;
    color: #FFFFFF;
}
span.intro-text-trails {
    position: absolute;
    width: 162px;
    height: 99px;
    left: 200px;
    top: 297px;

    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    font-size: 78px;
    line-height: 99px;
    color: #FFFFFF;
}
img.computer-picture {
    position: absolute;
    width: 606px;
    height: 429px;
    left: 620px;
    top: 112px;
}